
<!DOCTYPE html>

<html lang="tr-TR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/indexpage.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href="~/Content/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/css/full-width-pics.css" rel="stylesheet">

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="~/Content/indexpage.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <script src="~/Content/theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>